.lesson {
    width: 200px;
    height: 100px;
  }
  
.section-blue {
  background-color: blue  ;
  color: orange;
}
  
.container {
  background-color: black;
  color: white;
}

#section-1 {
  background-color: purple;
  color: yellow;
}

#section-6 {
  color: yellow;
}
