/* Universal selector */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* Element Selectors select all of that element type */
body {
  background-color: lemonchiffon;
}

header,
footer {
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

figure {
  width: 200px;
  background-color: #f0ead6;
}

/* Class Selectors select all elements with that class */
.highlighted-text {
  font-weight: bolder;
}

/* Id Selectors are unique. Use a unique id to identify an element */
#contact-section {
  background-color: #f0ead6;
}

/* A pseudo-class is a selector that selects elements that are in a specific state, e.g. they are the first element of their type, or they are being hovered over by the mouse pointer. */